
<div class="text-page">
    <ng-container *ngIf="!loadError; else error">
        <div class="tags">
            <span class="tag" *ngFor="let tag of article!.tags">{{tag}}</span>
        </div>
        <h1>{{article!.title}}</h1>
        <div class="date"><span>{{formatDate(article!.date)}}</span></div>
        
        <markdown [data]="(markdown$|async)??undefined"></markdown>
        <!-- <div class="related-projects">
            <h3>Related Projects</h3>
        </div> -->
    </ng-container>
    <ng-template #error>
        Something went wrong :/
    </ng-template>
</div>