@use '../../../style/mixins' as *;

.page-content {
    @include default-fade-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 80px;
}