@use '../../../style/colors' as *;

.hide {
    display: none;
}

.border {
    border-top: 1px solid $c-primary;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    margin-top: 120px;
    background-color: $c-neutral-100;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    a {
        color: $c-primary;
    }
}