<div id="footer">
    <div id="icon-list">
        <a class="link" href="https://www.linkedin.com/in/matheus-cavazotti">
            <fa-icon [icon]="linkedInIcon" size="lg"></fa-icon>
        </a>
        <a class="link" href="https://www.instagram.com/matheuscavazotti/">
            <fa-icon [icon]="instagramIcon" size="lg"></fa-icon>
        </a>
        <a class="link" href="https://github.com/mcavazotti">
            <fa-icon [icon]="githubIcon" size="lg"></fa-icon>
        </a>
    </div>
    <div id="message"><span>{{footerMessage}} <a href="https://angular.io/">Angular</a></span></div>
</div>