@use "../../../style/variables" as *;
@use "../../../style/colors" as *;
@use "../../../style/animations" as *;
@import "../../../style/third-party/typed.scss";

#profile-pic {
    animation: fade-in 1.5s;
    border-radius: 50%;
    width: 30vmin;
    min-width: 100px;
    max-width: 300px;
    flex-shrink: 0;
}

#title {

    h1,
    h2 {
        font-family: 'Source Code Pro';
    }

    h1 {
        @include typed("Matheus Cavazotti",
            (type: 0.07),
            (caret: false, iterations: 0, delay: 2));
    }

    h2 {
        @include typed("Hello, I\'m",
            (type: 0.07),
            (caret: false, iterations: 0));
    }

    @media (min-width: $v-small) {
        margin-left: 1rem * 3;
    }
}

#header {
    @media screen and (min-width: $v-small) {
        margin-top: 1rem * 2;
        display: flex;
        align-items: center;
    }
}

#presentation {
    animation: fade-in 1s 3.7s both;
    height: 4rem;

    h3 {
        color: $c-secondary;
    }

    #skills {
        @include typed("am a developer",
            "am insterested in Computer Graphics",
            "like arts and music",
            (type: 0.05, pause-typed: 1.5, delete: 0.03, pause-deleted:0.7),
            (caret: true, iterations: 1, delay: 4.2, end-on:"seek excellence in all I do."));
    }
}

#contact {
    animation: fade-in 1s 18s both;

    #links {
        display: flex;
        gap: 1rem;
    }
}