<div id="home-page-grid">
    <div id="planet-div" class="flex-column flex-grow-1">
        <canvas id="planets" class="flex-grow-1"></canvas>
    </div>
    <div id="content-div">
        <h1>Hey! Why don't you throw some planets?</h1>
        <div id="controls">
            <div class="control">
                <span class="key">Left Click + Drag</span><span class="function">Create object</span>
            </div>
            <div class="control">
                <span class="key">B</span><span class="function">Toggle bounce</span>
            </div>
            <div class="control">
                <span class="key">W</span><span class="key">A</span><span class="key">S</span><span
                    class="key">D</span><span class="function">Move camera</span>
            </div>
            <div class="control">
                <span class="key">T</span><span class="function">Toggle trail</span>
            </div>
            <div class="control">
                <span class="key">Z</span><span class="key">Mouse Scroll</span><span class="function">Change radius (new
                    object)</span>
            </div>
            <div class="control">
                <span class="key">P</span><span class="function">Pause</span>
            </div>
            <div class="control">
                <span class="key">X</span><span class="key">Mouse Scroll</span><span class="function">Change density
                    (new
                    object)</span>
            </div>
            <div class="control">
                <span class="key">Q</span><span class="function">Reset camera</span>
            </div>
            <div class="control">
                <span class="key">,</span><span class="key">.</span><span class="function">Speed up/down simulation</span>
            </div>
            <div class="control">
                <span class="key">R</span><span class="function">Reset simulation</span>
            </div>
            <div class="control">
                <span class="key">C</span><span class="function">Reset radius and density</span>
            </div>
            <div class="control">
                <span class="key">H</span><span class="function">Hide controls</span>
            </div>
        </div>
    </div>
</div>