<div id="navbar">
    <div id="nav" *ngIf="(currentRoute !='/' && currentRoute !='/main')">
        <div class="nav-list">
            <fa-icon id="menu" [icon]="menuIcon" size="lg" (click)="changeSideNavState()"></fa-icon>
            <h2 (click)="closeSideNav()" id="title" routerLink="/">{{title}}<span>_</span></h2>
        </div>
        <div class="nav-list" id="link-list">
            <a class="nav-link" routerLink="/about">{{about}}</a>
            <a class="nav-link" routerLink="/projects">{{projects}}</a>
        </div>
    </div>
    <div id="lang-selector">
        <img *ngFor="let lang of supportedLanguages" [src]="'assets/svg/' + lang +'.svg'" class="icon"
            [ngClass]="{'greyed': lang != activeLanguage}" [alt]="lang" (click)="changeLanguage(lang)">
    </div>
</div>