#sim-div {
    width: 100%;
    height: 100%;
}

#sim-controls {
    margin: 50px 100px;
    margin-right: 0;
}

body {
    display: flex;
}


#sim {
    display: block;
    margin: 50px auto;
    border: 1px solid black;
}