<div class="main-div">
  <div class="nav-div">
    <div></div>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
    <a routerLink="/playground" class="playground-button">Playground ></a>
  </div>
  <div style="height: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>