@media only screen and (min-width: 800px) {
.side-nav{
    display: none;
}
}

@media only screen and (max-width: 800px) {
.side-nav{
    position: absolute;
    left: 0;
}

.side-nav.closed{
    width: 0;
}

}


#page-container {
    display: flex;
    justify-content: center;
}
.width-limiter {
    max-width: 1000px;
    min-width: 50vw;
}