@use '../style/colors' as *;
@use '../style/mixins' as *;


.main-div {
    @include flex-column;
    @include default-transition;
    min-height: 100vh;
    padding: 0;
    background-color: $c-background;
    color: $c-primary;
    margin: 0;
  
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0;

    &.dark{
        background-color: $c-neutral-100 !important;
    }
}

.nav-div {
    margin: 0 7.3vw;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div,
    nav,
    a {
        @include default-blur;
        z-index: 1;
    }
}

.router-div,
.home-page {
    @include flex-column;
    @include flex-grow-1;
    overflow: hidden;
}

nav {
    @include default-border-radius;
    padding: 5px;

    a {
        font-weight: 500;
        font-size: 20px;
        color: $c-primary;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 12px;

        &.active {
            text-decoration: underline;
            font-weight: 900;
        }
    }
}

.playground-button {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0;
    color: $c-primary;
    border: 1px solid $c-primary;
    padding: 8px 16px;
    border-radius: 4px;
    @include default-transition;

    &:hover {
        background-color: #0F9BEB33;
    }
}