<div id="app-container">
    <app-navbar></app-navbar>
    <div id="page-container">
        <!-- improve it -->
        <div class="fixed">
            <div class="overlay" [ngClass]="{'opaque':openSideNav}"></div>
        </div>
        <div class="fixed">
            <div class="side-nav" [ngClass]="{'closed':!openSideNav}">
                <div id="link-list">
                    <a (click)="closeSideNav()" class="link" routerLink="/about">{{about}}</a>
                    <a (click)="closeSideNav()" class="link" routerLink="/projects">{{projects}}</a>
                </div>
            </div>
        </div>
        <div class="width-limiter">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>