div {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sad {
    font-size: 20vmin;
    margin: 0;
}
h1 {
    font-size: 6vmin;
}