<div class="container px-5">
    <h1 class="my-5">Blog</h1>
    <ng-container *ngIf="(posts$|async) as posts; else empty">
        <div id="posts">
            <a class="post" *ngFor="let post of posts" [href]="post.route">
                <div class="card" style="height: 100%;">
                    <img *ngIf="post['cover']" [src]="post['cover']" class="card-img-top">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">{{post.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{post['date'] | date:'shortDate'}}</h6>
                            <p class="card-text">{{post['description']}}</p>
                        </div>
                        <div *ngIf="post['tags']">
                            <span *ngFor="let tag of post['tags']" class="card-link tag">{{tag}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </ng-container>
    <ng-template #empty>
        <h2> Nothing to show here... Yet!</h2>
    </ng-template>
</div>