
<div class="text-page">
    <ng-container *ngIf="!loadError; else error">
        <div class="tags">
            <span class="tag" *ngFor="let tag of project!.tags">{{tag}}</span>
        </div>
        <h1>{{project!.title}}.</h1>
        <div class="date"><span>{{project!.startYear}}</span></div>
        
        <markdown [data]="(markdown$|async)??undefined"></markdown>
        <div class="related-articles" *ngIf="relatedArticles?.length">
            <h3>Related Articles</h3>
            <div class="related-articles-grid">
                <app-article-tile *ngFor="let article of relatedArticles" 
                    [title]="article.title"
                    [date]="article.date"
                    [coverImage]="article.coverImage"
                    [abstract]="article.abstract"
                    [tags]="article.tags"
                    [altColor]="true"
                    (click)="navigate(article.id)"
                ></app-article-tile>
            </div>
        </div>
    </ng-container>
    <ng-template #error>
        Something went wrong :/
    </ng-template>
</div>