<div class="page-content">
    <div class="contact">
        <img id="profile-pic" src="assets/profile.jpg" alt="profile picture" width="400">
        <p>Find me on:</p>
        <div class="icons">
            <a href="https://www.instagram.com/matheuscavazotti/" title="Instagram">
                <fa-icon [fixedWidth]="true" size="2x" [icon]="instagramIcon"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/matheus-cavazotti" title="LinkedIn">
                <fa-icon [fixedWidth]="true" size="2x" [icon]="linkedInIcon"></fa-icon>
            </a>
            <a href="https://github.com/mcavazotti" title="GitHub">
                <fa-icon [fixedWidth]="true" size="2x" [icon]="githubIcon"></fa-icon>
            </a>
        </div>
    </div>
    <div class="content">
        <h1>Hi, I'm Matheus Cavazotti.</h1>
        <div class="highlights"></div>
        <div class="introduction">
            <p>I was born in Curitiba, Brazil. Between 2017 and 2019, I lived in Buenos Aires, Argentina, serving with
                the church which I'm part of as a volunteer. During High School, I won medals from the National Math
                Olympics (OBMEP) and had the opportunity to take advanced math classes. I recently received a bachelor's
                degree in Computer Science from Universidade Federal do Paraná (UFPR).
            </p>
            <p>I've been interested in maths and arts since I was little and I also have been curious and had a yearning
                for learning more from the beginning. I'm self-taugh in most of the technologies that I worked with. I
                have interest in Computer Graphics, in special physics-based animations and rendering, and seek to
                improve in this
                area. I intend to work with the development of tools for animation and VFX studios, as well as for the
                game industry.
            </p>
        </div>
    </div>
</div>