<div class="container">
    <div class="contact my-5">
        <img id="profile-pic" class="mb-4" src="assets/profile.jpeg" alt="profile picture">
        <h4>I'm also here:</h4>
        <div class="icons">
            <a href="https://www.instagram.com/matheuscavazotti/" title="Instagram">
                <fa-icon [fixedWidth]="true" size="xl" [icon]="instagramIcon"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/matheus-cavazotti" title="LinkedIn">
                <fa-icon [fixedWidth]="true" size="xl" [icon]="linkedInIcon"></fa-icon>
            </a>
            <a href="https://github.com/mcavazotti" title="GitHub">
                <fa-icon [fixedWidth]="true" size="xl" [icon]="githubIcon"></fa-icon>
            </a>
        </div>
    </div>
    <div>
        <h2>I'm Matheus Cavazotti.</h2>
        <div class="highlights"></div>
        <div class="introduction">
            <p>I was born in Curitiba, Brazil. Between 2017 and 2019, I lived in Buenos Aires, Argentina, serving with
                the church which I'm part of as a volunteer. During High School, I won medals from the National Math
                Olympics (OBMEP) and had the opportunity to take advanced math classes. I recently received a bachelor's
                degree in Computer Science from Universidade Federal do Paraná (UFPR).
            </p>
            <p>I've been interested in maths and arts since I was little and I also have been curious and had a yearning
                for learning more from the beginning. I'm self-taugh in most of the technologies that I worked with. I
                have interest in Computer Graphics, in special physics-based animations and rendering, and seek to
                improve in this
                area. I intend to work with the development of tools for animation and VFX studios, as well as for the
                game industry.
            </p>
        </div>
    </div>
</div>