$c-background: #05004F;
$c-background-modal: #0e0d1c;
$c-alt-background: #080514;
$c-alt-background-a20: #080514c7;
$c-primary: #0F9BEB;
$c-primary-a10: #0F9BEB19;
$c-secondary: #D6D6A8;
$c-neutral-0: #D7EBFA;
$c-neutral-a25: #D7EBFA40;
$c-neutral-100: #0A051E;