h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.year {
    margin-top: 0;
    font-size: small;
}

p {
    font-size: medium;
    margin-top: 0;
}

.detail-container {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    max-width: 100%;
    margin: 10px 5px;
    /* transition: all .3s ease-in-out; */
}

/* .detail-container:hover {
    background-color: #ffffff33;
    transition: all .3s ease-in-out;
} */

.img-div {
    display: flex;
    justify-content: center;
    margin: 0   15px;
    width: 250px;
    max-height: 250px;
    border: 1px solid #6d9cbe;
}

.proj-img {
    max-width: 100%;
    max-height: 170px;
}
.content {
    flex: 1;
    min-width: 200px;
    padding: 0 15px;
}
