#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
    display: flex;
    font-size: 5vmin;
}

#link-list {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 5vmin;
}
