<div class="page-content">
    <div class="header">
        <h1>Projects.</h1>
        <app-filter [tags]="tags" (change)="filterProjects($event)"></app-filter>
    </div>
    <app-project-tile *ngFor="let project of filteredProjects" 
        [title]="project.title" 
        [coverImage]="project.coverImage"
        [startYear]="project.startYear"
        [description]="project.description"
        [tags]="project.tags"
        (click) = "navigate(project.id)"
    >
    </app-project-tile>
</div>