body {
    background-color:#2b2b2b;
    color: #6d9cbe;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
}
a {
    color: inherit;
}

p {
  font-size: larger;
}

.blink {
  z-index: -1;
    position: relative;
  -webkit-animation: blink 1.3s step-end infinite;
  animation: blink 1.3s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}