/* You can add global styles to this file, and also import other style files */
@use 'style/colors' as *;
@use 'style/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700;900&display=swap');


body {
  //   @include flex-column;
  //   min-height: 100vh;
  //   padding: 0;
  //   background-color: $c-background;
  //   color: $c-primary;
  margin: 0;

  //   font-family: 'Source Code Pro', monospace;
  //   letter-spacing: 0;
}

app-root {
  @include flex-column;
  @include flex-grow-1;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h3.block-header {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: $c-primary;
  margin: 0;
}

.page-content {
  margin: 0 7.3vw;
  margin-top: 120px;
}

.text-page {
  margin: 0 21vw;
  margin-top: 120px;

  h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 80px;
    color: $c-primary;
    margin: 40px 0;
  }

  h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: $c-primary;
  }

  h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: $c-primary;
  }

  h4 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $c-primary;
  }

  p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: $c-neutral-0  !important;
  }
}

span.tag {
  @include default-border-radius;
  @include default-transition;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: $c-primary;
  background-color: $c-primary-a10;
  padding: 8px 16px;
  text-transform: uppercase;

  &.active {
    @include default-transition;
    color: $c-neutral-100;
    background-color: $c-primary;
  }
}